<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express| about</title>
</head>

<body>
    <h1>about pge</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Eius at laudantium ea officiis sapiente qui. Sequi,
        voluptas libero! Animi repellat ratione debitis numquam
        doloremque voluptas sequi ab accusamus odio incidunt.
    </p>
    <hr>

    {{#if name}}

    <h3 class="display-6">
        About Person :{{name}}
    </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Eius at laudantium ea officiis sapiente qui. Sequi,
        voluptas libero! Animi repellat ratione debitis numquam
        doloremque voluptas sequi ab accusamus odio incidunt.
    </p>
    {{/if}}
</body>

</html>